@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  /* color: #2ab2af;
  color: #c0df34; */
  color: #e5eff5;
  /* color: #98a6bd; */
}
